.container-advantages {
    max-width: 1400px;
    width: 80%;
    margin: 80px auto 20px auto;
    overflow: visible;
}

.container-advantages h2 {
    font-size: 25px;
    color: #0036a7;
    margin-bottom: 20px;
}

.advantages {
    margin: 20px auto 0 auto; 
}

.advantages-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    align-items: stretch; 
}

@media (min-width: 768px) {
    .advantages-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .advantages {
        width: 90%; 
    }
}

.advantage-card {
    background-color: #ffffff;
    padding: 40px 20px 40px 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;    
    text-align: left;
    gap: 10px;
    /*border-left: 4px solid #1E3A8A; */
    transition: transform 0.3s ease;
}
.advantage-card:hover {
    transform: translateY(-5px);
}

.advantage-card h2 {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.advantage-card p {
    font-size: 14px;
    color: #555;
    margin: 0;
}
