/* Общие стили обертки */
.contacts-wrapper {
  padding: 80px 0;
  overflow: hidden;
}

.container-contacts {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* Сетка контента */
.contacts-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  background: white;
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  align-items: stretch;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  
}

.contact-item {
  display: flex;
  align-items: center;
  /*margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;*/
}

.contact-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

/* Иконки контактов */
.contact-icon {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 54, 167, 0.2);
  position: relative;
  flex-shrink: 0;
  border: 3px solid #0036a7;
  margin-right: 25px;
  transition: all 0.4s ease;
}

.contact-icon i {
  font-size: 32px;
  color: #0036a7;
  transition: all 0.4s ease;
}

.contact-item:hover .contact-icon {
  transform: scale(1.1);
  background: #0036a7;
  box-shadow: 0 15px 30px rgba(0, 54, 167, 0.4);
}

.contact-item:hover .contact-icon i {
  color: white;
}

.contact-details h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

.contact-details p {
  color: #2e2e2e;
  margin: 0;
  line-height: 1.5;
}

/* Правая часть: Форма */
.contacts-form {
  height: 100%;
  background: #e6f0ff;
  padding: 40px;
  border-radius: 16px;
}

.form-header {
  margin-bottom: 15px;
}

.form-header p {
  font-size: 18px;
  color: #2e2e2e;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #E2E8F0;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  background: #f9f9f9;
  color: #2e2e2e;
}

.form-group input:focus {
  border-color: #0036a7;
  box-shadow: 0 0 0 3px rgba(67, 97, 238, 0.2);
  outline: none;
  background: white;
}

.form-group input:hover {
    border-color: #0036a7;
    outline: none;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.checkbox-group input {
  width: auto;
  margin-right: 10px;
  margin-top: 5px;
}

.checkbox-group label {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.checkbox-group a {
    color: #0036a7;
    text-decoration: none;
    transition: all 0.3s;
}

.checkbox-group a:hover {
  text-decoration: underline;
}

.submit-btn {
  display: block;
  width: 100%;
  background: #0036a7;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(67, 97, 238, 0.4);
}

/* Адаптивность */
@media (max-width: 1200px) {
  .contacts-content {
    gap: 30px;
    padding: 40px;
  }
}

@media (max-width: 992px) {
  .contacts-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .container-contacts {
    width: 90%;
  }
  
  .contacts-content {
    padding: 2rem;
  }
  .contacts-form {
    padding: 2rem;
  }
  .contact-item {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .contacts-wrapper {
    padding: 80px 0;
  }
  
  .form-header h3 {
    font-size: 1.5rem;
  }
  
  .form-group input {
    padding: 12px 15px;
    font-size: 15px;
  }
  
  .submit-btn {
    padding: 14px;
    font-size: 16px;
  }
}



.contacts-section-title {
  margin-bottom: 80px;
}
.contacts-section-title p {
  font-size: 16px;
  color: #2e2e2e;
  max-width: 600px;
  line-height: 1.6;
}
.container-contacts h2 {
  margin-top: 0px !important;
}

#contact-form-contacts {
  display: block !important;
  flex-direction: initial !important;
  gap: 0 !important;
}

.checkbox-group {
    margin-top: 3px;
    accent-color: #0036a7;
}

.contacts-cb1 {
  margin-top: 0 !important;
}

.contacts-faq {
    background: #fff;
}

.contacts-link {
    color: #2e2e2e;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contacts-link:hover {
    color: #d62718;
}

.faq-item-contacts {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important;
}









/* Стили сообщения об успешной отправке */
.contact-success-message {
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: opacity 0.5s ease;
}

.contact-success-icon {
  width: 40px;
  height: 40px;
  background: #4CAF50;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  flex-shrink: 0;
}

.contact-success-text {
  color: #2e2e2e;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.contact-intl-tel-input {
  width: 100%;
}