
.footer {
    background-color: #2e2e2e;
    color: #b3b3b3;
    padding: 40px 0;
    margin-top: 80px;
}

.footer-delta-title {
 font-weight: 700;
 color: #fff;
 margin: 0px 0px 20px 20px;
}

.footer-wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-title-wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-block {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}

.delta-footer-contact-title {
    margin-top: 30px;
}
.delta-footer-policy-title {
    margin-top: 30px;
}

.footer-text {
    margin: 8px 0;
    line-height: 1.5;
    color: #b3b3b3;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-link {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #fff;
}

.footer-copyright {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f2f4f7;
}

.footer-copyright-text {
    margin: 0;
    font-size: 12px;
    color: #fff;
}

.dev-footer-right {
    text-align: right;
}

@media (max-width: 768px) {
    .footer-delta-title {
        margin: 0px 0px 0px 00px;
    }
    .footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-title-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-block {
        margin: 15px 0;
    }

    .footer-copyright {
        flex-direction: column;
        text-align: center;
    }

    .dev-footer-right {
        text-align: center;
        margin-top: 10px;
    }
}




.footer-btn-block {
 margin-top: 30px;
}



.footer-block .footer-order-call {
    background: #d62718;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.3s;
    justify-content: center;
    width: 200px;
    display: flex
    ;
  }
  
  .footer-block .footer-order-call:hover {
    background: #bd1e10;
    color: #fff;
  }
  .footer-block .footer-order-call:active {
    opacity: 1;
    background: #d62718;
    color: #fff;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
                inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  }