/* Подвал */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #f4f4f4;
    color: #333333;
    font-size: 14px; /* Основной текст */
    padding: 10px 0; /* Уменьшаем общий отступ футера */
}

/* Контейнер для столбиков */
.footer-container {
    /*width: 80%;*/
    margin: 20px auto 0 auto; /* Совпадает с .content */
    /*padding: 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Столбики */
.footer-column {
    flex: 1;
    padding: 10px;
}

/* Логотип */
.footer-left {
    text-align: left;
}

.footer-logo {
    max-width: auto;
    height: 20px;
    margin-bottom: 10px; /* Отступ между логотипом и текстом */
}

/* Центрирование текста */
.footer-center {
    text-align: left;
}

.footer-center p {
    margin: 5px 0; /* Отступы между пунктами меню */
}

.footer-right {
    text-align: right;
}

/* Нижний текст */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Чтобы не выходил за пределы контейнера */
}

/* Ссылки */
footer a {
    color: #333333;
    font-size: 14px; /* Основной текст */
    font-weight: 300;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #F0473B;
}

/* Респонсивность - медиазапросы для адаптивности */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding: 15px; /* Опционально: уменьшаем отступы на мобильных */
    }

    .footer-column {
        width: 100%;
        text-align: center; /* Центрируем текст в мобильной версии */
    }

    .footer-right {
        text-align: center; /* Центрируем текст в мобильной версии */
    }
}