/* Основные стили */
.container-partners {
  max-width: 1400px;
  width: 80%;
  margin: 80px auto 20px auto;
}

.partners {
  background: #fff;
  border-radius: 8px;
}

.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px 0;
  mask-image: linear-gradient(
    to right, 
    transparent 0%, 
    black 10%, 
    black 90%, 
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right, 
    transparent 0%, 
    black 10%, 
    black 90%, 
    transparent 100%
  );
}

.slider-track {
  display: flex;
  width: max-content;
}

.slider-item {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  margin-right: 30px;
  /*background: white;*/
  padding: 10px;
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
}

/* Адаптивность */
@media (max-width: 768px) {
  .container-partners {
    width: 90%;
  }
  
  .slider-item {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
}























.partners-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 20px;
}
.partners-header-title {
  margin: 0;
}
.partners-header-info {
  display: flex;
  align-items: center;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 120px;
  box-sizing: border-box;
}
.partners-header-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  margin-right: 15px;
}
.partners-header-text {
  margin: 0;
  font-size: 16px;
  color: #2e2e2e;
}

@media (max-width: 768px) {
  .partners-header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .partners-header-info {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}