/* Контейнер для логотипов */
.partners-container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  /* Двигающийся блок */
  .partners-logos {
    display: flex;
    align-items: center;
    gap: 50px; /* Расстояние между логотипами */
    animation: scroll-logos 40s linear infinite;
  }
  
  /* Стили для логотипов */
  .partners-logos img {
    margin-right: 50px; /* Увеличенный отступ между логотипами */
    width: 40px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  /* При наведении фильтр снимается */
  .partners-logos img:hover {
    filter: grayscale(0%);
  }
  
  /* Анимация бесконечного движения */
  @keyframes scroll-logos {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Скрываем блок на мобильных устройствах */
  @media (max-width: 768px) {
    .partners-container {
      display: none;
    }
  }
  