/* Общие стили обертки */
.policy-wrapper {
  padding: 80px 0;
  overflow: hidden;
}

.container-policy {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .container-policy {
    width: 90%;
  }
}

.policy-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2.5rem;
  text-align: justify;
}
@media (max-width: 767px) {
  .policy-card {
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
}

.container-policy h1 {
    margin-bottom: 40px;
}