
.container-requirements {
    width: 80%;
    margin: 80px auto 20px auto;
    overflow: visible;
}

.container-requirements h2 {
    font-size: 25px;
    color: #1E3A8A;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container-requirements {
        width: 90%;
    }
}
.requirements {
    margin: 20px auto 0 auto; 
}

.requirements-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: stretch;
}

.requirements-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    border-left: 4px solid #1E3A8A;
    transition: transform 0.3s ease;
}
.requirements-card:hover {
    transform: translateY(-5px);
}

.requirements-list li {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.requirements-list {
    padding: 20px 20px 20px 40px;
  }
