/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Контейнер для контента */
.container {
    width: 80%;
    margin: 20px auto;
    overflow: visible;
}

/* Шапка сайта */
header {
    background-color: #f4f4f4;
    color: #0E214C;
    padding: 10px 0;
    margin: 0px;
}

header .logo img {
    width: 150px;
    margin-bottom: 5px; /* Расстояние снизу от логотипа */
}

.header p {
    color: #0E214C;
    font-size: 0.4em;
    font-style: italic;
    margin-top: 0px; /* Добавим небольшой отступ сверху */
    font-family: 'Verdana', sans-serif; /* Убедитесь, что шрифт поддерживает курсив */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #0E214C;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #F0473B;
}

/* Главная секция (Hero) */
.hero {
    background-color: #f4f4f4;
    color: #0E214C;
    text-align: left;
    padding: 50px 0;
    width: 100%; /* Убедимся, что контейнер занимает всю доступную ширину */
    height: auto;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    display: inline-block;
    background-color: transparent; /* Сделает фон прозрачным */
    color: #F0473B;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #F0473B;
    text-align: center; /* Центрируем текст внутри кнопки */
    height: 100%;
}

.hero .btn:hover {
    background-color: #F0473B;
    color: #fff;
}

/* Секции About и Calculator */
section {
    padding: 42px 0;
    background-color: #fff;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

section .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section .btn:hover {
    background-color: #555;
}

/* Подвал */
footer {
    background-color: #f4f4f4;
    color: #0E214C;
    font-size: 0.6em;
    padding: 20px 10px;
}

/* Контейнер для столбиков */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Столбики */
.footer-column {
    flex: 1;
    padding: 10px;
}

/* Логотип */
.footer-left {
    text-align: left;
}

.footer-logo {
    max-width: auto;
    height: 20px;
}

/* Центрирование текста */
.footer-center {
    text-align: left;
}

.footer-right {
    text-align: left;
}

/* Нижний текст */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

/* Ссылки */
footer a {
    color: #0E214C;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #F0473B;
}

/* Стили калькулятора */
/* Стиль контента */
.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.content h2 {
    font-size: 16px;
    color: #0E214C;
}

.form-row-politika {
    font-size: 14px;
    color: #0E214C;
}

/* Общие стили для текста */
.field__label-placeholder {
    position: absolute;
    top: 5px; /* Отступ от верхнего края */
    left: 15px; /* Отступ от левого края */
    font-size: 12px; /* Уменьшаем размер текста */
    color: #969696;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Поля ввода */
.field {
    position: relative;
    margin-bottom: 15px;
}

.field__input {
    width: 100%;
    color: #0E214C; /* Задаём цвет текста */
    padding: 25px 15px 10px; /* Сверху меньше отступ, снизу больше для "текста на дне" */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 70px;
    box-sizing: border-box; /* Учитываем отступы внутри высоты поля */
    display: flex;
    align-items: flex-end; /* Текст опускается вниз */
}

.field__input:focus {
    border-color: #0E214C;
    outline: none;
}

/* Анимация для плейсхолдера при вводе текста */
.field__input:focus + .field__label-placeholder,
.field__input:not(:placeholder-shown) + .field__label-placeholder {
    top: 5px;
    font-size: 12px;
    color: #0E214C;
}

/* Раскрывающиеся списки (select) */
.field__input select {
    width: 100%;
    color: #0E214C; /* Цвет текста в выпадающем списке */
    padding: 0 5px; /* Отступы для текста */
    text-align: left; /* Выравниваем текст */
    background-color: white; /* Приводим фон к стандартному виду */
    border: none;
    font-size: 16px;
    height: 100%; /* Заполняем всю высоту родителя */
    background: white;
    outline: none;
    margin: 0; /* Убираем лишние отступы */
}

/* Формы и поля */
.form-row {
    display: flex;
    align-items: center; /* Центрирование по высоте */
    justify-content: space-between;
    margin-bottom: 0px; /* было 20 */
    gap: 15px; /* Отступ между колонками */
}

.form-column {
    width: 48%;
}

.main-block__filters label {
    color: #0E214C; /* Цвет текста чекбоксов */
    display: flex; /* Чтобы текст рядом с чекбоксом выровнялся */
    align-items: center;
    margin-right: 15px; /* Увеличиваем расстояние между чекбоксами */
    gap: 8px; /* Добавляем небольшой отступ между чекбоксом и текстом */
}

.main-block__filters input[type="checkbox"] {
    margin-right: 5px; /* Добавляем небольшой отступ между чекбоксом и текстом */
}

/* Изменение цвета текста рядом с чекбоксом */
input[type="checkbox"] + label {
    color: #0E214C; /* Цвет текста */
    font-family: Verdana, sans-serif; /* Шрифт */
    font-size: 14px; /* Размер шрифта */
}

/* Состояние фокуса/активации чекбокса */
input[type="checkbox"]:checked + label {
    color: #F0473B; /* Цвет текста при активной галочке */
}

/* Стиль галочки (внутри чекбокса) */
input[type="checkbox"] {
   /* appearance: none; /* Убираем стандартный вид чекбокса */
    width: 20px;
    height: 20px;
    border: 1px solid #0E214C; /* Цвет границы */
    border-radius: 4px; /* Скругленные углы */
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #fff; /* Фон */
}

/* Цвет заливки при активации */
input[type="checkbox"]:checked {
    background-color: #F0473B; /* Цвет галочки */
    border-color: #F0473B; /* Цвет границы при активной галочке */
}

/* Галочка внутри чекбокса */
input[type="checkbox"]:checked::before {
    /*content: '✔'; /* Символ галочки */
    color: #fff; /* Цвет галочки */
    font-size: 14px; /* Размер символа */
    position: absolute;
    left: 4px; /* Сдвиг влево */
    top: 1px; /* Сдвиг вниз */
}


/* Кнопка */
.btn_primary {
    display: inline-block;
    background-color: transparent;
    color: #F0473B;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #F0473B;
    text-align: center;
    cursor: pointer;
    height: 70px;
}

.btn_primary:hover {
    background-color: #F0473B;
    color: #fff;
    border: 1px solid #F0473B;
}

/* Стили для кнопки оформления */
.offer__button {
    margin-left: auto; /* Отодвигаем кнопку вправо */
    background-color: transparent;
    color: #F0473B;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #F0473B;
    cursor: pointer;
    height: 70px;
  }
  
  .offer__button:hover {
    background-color: #F0473B;
    border-color: #fff;
    border: 1px solid #F0473B;
  }

/* Стили для кнопки сброса */
.btn_secondary {
    display: inline-block;
    background-color: transparent;
    color: #969696;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #969696;
    text-align: center;
    height: 70px;
    margin-left: 10px; /* Расстояние между кнопками */
}

.btn_secondary:hover {
    background-color: #969696;
    color: #fff;
}


/* Результаты */
.result {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #F0473B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

.result__logo {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    vertical-align: middle;
}


.result__title-wrap h2 {
    color: #0E214C;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

/* Стили для блока результатов */
.result__offers {
    display: flex;
    flex-direction: column; /* Расположить предложения по вертикали */
    gap: 16px; /* Отступ между блоками */
  }

.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px; /* Отступы внутри каждого блока */
    /*border: 1px solid #ccc; /* Рамка вокруг предложения */
    border-radius: 5px; /* Скругленные углы */
    background-color: #fff; /* Фон блока */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для выделения блока */
}

/* Разделительная линия между блоками
.offer + .offer {
    border-top: 1px solid #ccc;
  }*/

.offer__logo {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.offer__details {
    flex: 1;
    margin-left: 10px;
    font-family: Verdana, sans-serif; /* Как в блоке параметров */
    font-size: 14px; /* Пример размера, уточните по требованию */
    color: #0E214C; /* Цвет текста из блока параметров */
  }
  
  .offer__rate {
    text-align: right;
    margin-right: 20px;
    color: #0E214C;
  }

.offer__title-wrap {
    color: #0E214C;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.offer__text {
    color: #0E214C;
    font-weight: 300;
    font-size: 14px;
}

/* Стили для ошибок заполнения */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

.field__input.error {
    border: 2px solid red;
}

.error-message {
    display: flex;
    align-items: center;
    font-size: 9px;
    color: red;
    margin-top: 5px;
}

.error-message .error-icon {
    font-weight: bold;
    margin-right: 5px;
}

/*.virtual-page {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}*/

.document-upload {
    margin-top: 20px;
}

.upload-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.upload-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.upload-name {
    flex: 1;
    margin: 0 10px;
}

/* Стили виртуальной страницы */
.content-vp {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-vp-btn-chek {
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    align-items: flex-start; /* Выравниваем элементы по правому краю */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-vp:not(:last-of-type) {
    margin-bottom: 20px;
}

.content-vp:last-of-type {
    margin-bottom: 40px;
}

.content-vp h2 {
    font-size: 16px;
    color: #0E214C;
    margin-bottom: 20px;
}

.content-vp p {
    font-size: 16px;
    color: #0E214C;
    margin-bottom: 20px;
}

.agreement {
    margin-top: 10px; /* Добавляем отступ сверху для пространства между кнопкой и чекбоксом */
}

.agreement input {
    margin-right: 0; /* Убираем отступ справа у чекбокса */
}

/* Респонсивность - медиазапросы для адаптивности */
@media (max-width: 768px) {
    /* Основные стили */
    body {
        font-size: 14px;
    }

    /* Для шапки сайта */
    header nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    header nav ul li a {
        font-size: 1em;
    }

    /* Секция Hero */
    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 1.1em;
    }

    .hero .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* Секции About и Calculator */
    section {
        padding: 20px 0;
    }

    section h2 {
        font-size: 1.3em;
    }

    section p {
        font-size: 0.9em;
    }

    /* Кнопка */
    .btn_primary {
        font-size: 14px;
        padding: 8px 16px;
        height: 55px;
    }

    /* Кнопка */
    .btn_secondary {
        font-size: 14px;
        padding: 8px 16px;
        height: 55px;
    }

    /* Поля формы */
    .form-row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px; /* Сокращаем отступ между строками */
    }

    .form-column {
        width: 100%;
    }

    .field {
        margin-bottom: 10px; /* Уменьшаем отступ между полями */
    }

    .field__label-placeholder {
        font-size: 12px;
    }

    .field__input {
        font-size: 14px;
        height: 55px;
    }

    .field__input select {
        font-size: 14px;
        color: #0E214C;
        height: 55px;
    }

    .content {
        width: 90%;
    }

    .content-vp {
        width: 90%;
        align-items: center; /* Выравниваем элементы по центру */
    }

    .agreement {
        margin-top: 15px; /* Немного увеличиваем отступ между кнопкой и чекбоксом для мобильных */
    }

    .agreement input {
        margin-right: 0; /* Можно оставить этот стиль, если нужно выравнивать чекбокс по правому краю */
    }

    .footer-container {
        flex-direction: column;
    }

    /* Результаты */
    .result {
        margin-top: 20px;
    }

    .offer {
        flex-direction: column; /* Расположить элементы внутри предложения вертикально */
        text-align: center; /* Центрировать текст */
      }
    
      .offer__logo {
        margin-bottom: 12px; /* Отступ снизу для логотипа */
      }
      .offer__button {
        margin: 12px auto 0; /* Центрируем кнопку */
        width: 90%; /* Увеличиваем ширину кнопки на мобильных */
        height: 55px;
      }

    .result__title-wrap h2 {
        font-size: 14px;
    }

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

  
  /* Форма */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Стиль для кнопки */
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  