/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Шапка сайта */
header {
    background-color: #fff;
    color: #0E214C;
    padding: 40px 0;
}

header .logo img {
    width: 150px;
    margin-bottom: 20px; /* Расстояние снизу от логотипа */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #0E214C;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #F0473B;
}

/* Главная секция (Hero) */
.hero {
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    color: #0E214C;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #fff;
    color: #F0473B;
    padding: 10px 20px 10px; /*был 20 px*/
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #F0473B;
}

.hero .btn:hover {
    background-color: #F0473B;
    color: #fff;
}

/* Секции About и Calculator */
section {
    padding: 40px 0;
    background-color: #fff;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

section .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section .btn:hover {
    background-color: #555;
}

/* Подвал */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
