/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333; /* Основной цвет текста */
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Заголовки */
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto', sans-serif;
}

/* Заголовки */
h1 {
    font-weight: 700; /* Bold */
}

/* Обычный текст */
p {
    font-weight: 300; /* Light */
}

/* Обычный текст и ссылки */
a {
    font-weight: 300; /* Light */
}

/* Контейнер для контента */
.container {
    width: 80%;
    margin: 20px auto;
    overflow: visible;
}

/* Шапка сайта */
header .container {
    display: flex; /* Выравнивание элементов в одну строку */
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
}
header {
    background-color: #152961 ;
    color: #F3F4F6;
    padding: 10px 0;
    margin: 0px;
}

header .logo img {
    width: 150px;
    display: block; /* Убирает inline отступы */
    margin: 0; /* Сбрасывает отступы */
}

.header p {
    color: #1E3A8A;
    font-size: 0.4em;
    margin-top: 0px; /* Добавим небольшой отступ сверху */
}

/* Электронная почта */
.header-email {
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-content: flex-end; /* Выравнивание по правому краю */
    gap: 10px; /* Отступ между иконкой и текстом */
    text-align: right; /* Выравнивание текста справа */
    width: auto; /* Убираем лишнюю ширину, если она есть */
}

.email-link {
    display: flex;
    align-items: center; /* Центрируем содержимое */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 16px; /* Размер текста */
    color: #fff; /* Основной цвет текста */
    transition: color 0.3s ease; /* Плавный переход цвета при наведении */
}

.email-link:hover {
    color: #F0473B; /* Цвет текста при наведении */
}

.email-icon {
    width: 15px; /* Ширина иконки */
    height: 15px; /* Высота иконки */
    transition: transform 0.3s ease; /* Анимация при наведении */
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.email-link:hover .email-icon {
    transform: scale(1.2); /* Увеличиваем иконку при наведении */
}


/* Главная секция (Hero) */
.hero {
    background-color: #1E3A8A ;
    background: linear-gradient(to bottom, #152961, #1E3A8A);
    color: #FFFFFF;
    text-align: left;
    padding: 50px 0 100px 0; /* Отступ сверху 50px, снизу 80px */
    width: 100%; /* Убедимся, что контейнер занимает всю доступную ширину */
    height: auto;
    margin-bottom: -100px; /* Отрицательный отступ, чтобы блок Hero "наезжал" на следующий */
    z-index: 1; /* Для того чтобы блок Hero был поверх блока Content */
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300; /* Light */
    margin-bottom: 20px;
}

/* Подвал */
footer {
    background-color: #f4f4f4;
    color: #333333;
    font-size: 0.6em;
    padding: 20px 10px;
}

/* Контейнер для столбиков */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Столбики */
.footer-column {
    flex: 1;
    padding: 10px;
}

/* Логотип */
.footer-left {
    text-align: left;
}

.footer-logo {
    max-width: auto;
    height: 20px;
}

/* Центрирование текста */
.footer-center {
    text-align: left;
}

.footer-right {
    text-align: left;
}

/* Нижний текст */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

/* Ссылки */
footer a {
    color: #1E3A8A;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #F0473B;
}

/* Стили калькулятора */
/* Стиль контента */
.content {
    width: 80%;
    margin: 20px auto 0 auto; /* 20px сверху, авто отступы слева и справа, 0 снизу */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Чтобы блок контента был под Hero */
    z-index: 0; /* Это гарантирует, что блок Content будет под Hero */
}

.content h2 {
    font-size: 16px;
    color: #1E3A8A;
}

.form-row-politika {
    font-size: 12px;
    font-weight: 300;
    color: #333;
}

/* Общие стили для текста */
.field__label-placeholder {
    position: absolute;
    top: 5px; /* Отступ от верхнего края */
    left: 15px; /* Отступ от левого края */
    font-size: 12px; /* Уменьшаем размер текста */
    color: #969696;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Когда родительский контейнер .field получает фокус (focus-within), меняем цвет метки */
.field:focus-within .field__label-placeholder {
    color: #1E3A8A;
}

/* Поля ввода */
.field {
    background-color: #ffffff;
    position: relative;
    margin-bottom: 15px;
}

.field__input {
    width: 100%;
    color: #333333; /* Задаём цвет текста */
    padding: 25px 15px 10px; /* Сверху меньше отступ, снизу больше для "текста на дне" */
    border: 2px solid #E2E8F0;
    border-radius: 4px;
    font-size: 16px;
    height: 70px;
    box-sizing: border-box; /* Учитываем отступы внутри высоты поля */
    display: flex;
    align-items: flex-end; /* Текст опускается вниз */
    transition: all 0.2s ease;
}

.field__input:focus {
    border-color: #1E3A8A;
    outline: none;
}

.field__input:hover {
    border-color: #1E3A8A;
    outline: none;
}

/* Раскрывающиеся списки (select) */
.field__input select {
    width: 100%;
    color: #1E3A8A; /* Цвет текста в выпадающем списке */
    padding: 0 5px; /* Отступы для текста */
    text-align: left; /* Выравниваем текст */
    background-color: white; /* Приводим фон к стандартному виду */
    border: none;
    font-size: 16px;
    height: 100%; /* Заполняем всю высоту родителя */
    background: white;
    outline: none;
    margin: 0; /* Убираем лишние отступы */
}

/* Формы и поля */
.form-row {
    display: flex;
    align-items: center; /* Центрирование по высоте */
    justify-content: space-between;
    margin-bottom: 0px; /* было 20 */
    gap: 15px; /* Отступ между колонками */
}

.form-column {
    width: 48%;
}

.main-block__filters label {
    color: #333333; /* Цвет текста чекбоксов */
    font-size: 14px;
    font-weight: 300;
    display: flex; /* Чтобы текст рядом с чекбоксом выровнялся */
    align-items: center;
    margin-right: 15px; /* Увеличиваем расстояние между чекбоксами */
    gap: 8px; /* Добавляем небольшой отступ между чекбоксом и текстом */
  }

  .main-block__filters input[type="checkbox"] {
    accent-color: #1E3A8A; /* Изменяем цвет активного состояния чекбокса */
  }

  .main-block__filters input[type="checkbox"]:hover {
    accent-color: #284db5; /* Изменяем цвет активного состояния чекбокса */
  }

/* Результаты */
.result {
    margin-top: 30px;
    padding: 20px;
    /*border: 1px solid #f4f4f4;*/
    border: 2px solid #E2E8F0;
    background-color: #fff;
    border-radius: 4px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #F0473B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

.result__logo {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    vertical-align: middle;
}


.result__title-wrap h2 {
    color: #1E3A8A;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.result__header {
    display: flex;
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    gap: 10px; /* Расстояние между заголовком и текстом */
  }
  
  .result__count {
    color: gray;
    font-size: 13px;
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    margin-bottom: 20px;
  }

/* Стили для блока результатов */
.result__offers {
    position: relative; /* Для контекста позиционирования */
    display: flex;
    flex-direction: column; /* Расположить предложения по вертикали */
    gap: 16px; /* Отступ между блоками */
  }

  .offer__separator {
    grid-column: 4; /* Четвертая ячейка */
    background-color: #ccc;
    height: 2px;
}
  

  .offer {
    display: grid;
    grid-template-columns: auto 300px 200px 2px auto 400px; /* Задаем 6 столбцов */
    grid-template-rows: auto; /* Один ряд */
    gap: 20px; /* Отступы между ячейками */
    align-items: center; /* Центрирование по высоте всех элементов */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f4f6fd;
    position: relative;
    transition: all 0.3s ease;
    z-index: 2; /* Начальный слой */
}

.offer:hover {
    transform: scale(1.01); /* Увеличение на 20% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}

.offer--active {
    position: fixed; /* Поднимаем offer над контентом */
    z-index: 1000; /* Выше overlay */
    transform: scale(1.2); /* Анимация увеличения */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.offer__overlay {
    position: fixed; /* Полностью фиксировано по экрану */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500; /* Затемнение выше обычного контента */
    display: none; /* Изначально скрыто */
  }

  .offer__overlay.offer__overlay--active {
    display: block; /* Показывается только при активации */
  }

  .offer__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1002; /* Кнопка всегда поверх offer */
  }

.offer-mobile {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    justify-content: center; /* Центровка по горизонтали */
    align-items: center; /* Центровка по вертикали */
    gap: 16px; /* Отступы между элементами */
}

.offer-desktop {
    display: flex;
    flex-direction: row; /* Горизонтальное выравнивание */
    justify-content: space-between; /* Распределение пространства */
    align-items: center; /* Выравнивание по вертикали */
}

  .offer__logo {
    grid-column: 1; /* Первая ячейка */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.15), 
            6px -6px 10px rgba(255, 255, 255, 0.8);


}

  
.scroll-anchor {
    height: 1px; /* Минимальная видимая высота */
    visibility: hidden; /* Оставляем элемент скрытым */
    margin: 0;
    padding: 0;
  }
  
  

.offer__details {
    grid-column: 2; /* Вторая ячейка */
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
}

.offer__personal-data {
    grid-column: 3; /* Третья ячейка */
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    white-space: nowrap;
}
  
.offer__rate {
    grid-column: 5; /* Пятая ячейка */
    display: block; /* Принудительно блочное размещение в столбик */
    text-align: right;
    color: #333333;
}

.offer__title-wrap {
    color: #1E3A8A;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.offer__text {
    color: #0E214C;
    font-weight: 300;
    font-size: 14px;
}

/* Стили для ошибок заполнения */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

.field__input.error {
    border: 2px solid red;
}

.error-message {
    display: flex;
    align-items: center;
    font-size: 9px;
    color: red;
    margin-top: 5px;
}

.error-message .error-icon {
    font-weight: bold;
    margin-right: 5px;
}

.document-upload {
    margin-top: 20px;
}

.upload-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.upload-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.upload-name {
    flex: 1;
    margin: 0 10px;
}

/* Стили виртуальной страницы************************************************************************************************ */
.content-vp {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-vp-btn-chek {
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    align-items: flex-start; /* Выравниваем элементы по правому краю */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.content-vp:not(:last-of-type) {
    margin-bottom: 20px;
}

.content-vp h2 {
    font-size: 16px;
    color: #0E214C;
    margin-bottom: 20px;
}

.content-vp p {
    font-size: 16px;
    color: #0E214C;
    margin-bottom: 10px;
}

.agreement {
    margin-top: 10px; /* Добавляем отступ сверху для пространства между кнопкой и чекбоксом */
}

.agreement input {
    margin-right: 0; /* Убираем отступ справа у чекбокса */
}

.styled-column {
    display: flex; /* Включаем flexbox */
    flex-direction: column; /* Элементы выстраиваются в столбик */
    gap: 10px; /* Отступы между элементами */
}

.styled-label {
    font-size: 14px; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    margin-bottom: 5px; /* Отступ от метки к полю */
}

.styled-input {
    padding: 8px; /* Внутренние отступы */
    font-size: 14px; /* Размер текста */
    border: 1px solid #ccc; /* Границы */
    border-radius: 4px; /* Закругленные углы */
    box-sizing: border-box; /* Корректный расчет ширины */
}

/* Респонсивность - медиазапросы для адаптивности */
@media (max-width: 768px) {
    /* Основные стили */
    body {
        font-size: 14px;
    }

    /* Секция Hero */
    .hero {
        padding-top: 10px; /* Уменьшаем отступ сверху до 30px на мобильных устройствах */
        margin-bottom: -50px; /* Отрицательный отступ, чтобы блок Hero "наезжал" на следующий */
    }

    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 1.1em;
    }

    /* Кнопка */
    .btn_primary {
        font-size: 14px;
        padding: 8px 16px;
        height: 55px;
    }

    /* Кнопка */
    .btn_secondary {
        font-size: 14px;
        padding: 8px 16px;
        height: 55px;
    }

    /* Поля формы */
    .form-row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px; /* Сокращаем отступ между строками */
    }

    .form-column {
        width: 100%;
    }

    .field {
        margin-bottom: 10px; /* Уменьшаем отступ между полями */
    }

    .field__label-placeholder {
        font-size: 12px;
    }

    .field__input {
        font-size: 14px;
        height: 55px;
    }

    .field__input select {
        font-size: 14px;
        color: #0E214C;
        height: 55px;
    }

    .content {
        width: 90%;
    }

    .content-vp {
        width: 90%;
        align-items: center; /* Выравниваем элементы по центру */
    }

    .agreement {
        margin-top: 15px; /* Немного увеличиваем отступ между кнопкой и чекбоксом для мобильных */
    }

    .agreement input {
        margin-right: 0; /* Можно оставить этот стиль, если нужно выравнивать чекбокс по правому краю */
    }

    .footer-container {
        flex-direction: column;
    }

    /* Результаты */
    .result {
        margin-top: 20px;
    }

    /* Медиазапрос для мобильных устройств (максимальная ширина 768px) */
@media (max-width: 768px) {
    .result__offers {
      gap: 12px; /* Немного уменьшить отступы между карточками */
    }
  
    .offer {
      display: flex;
      flex-direction: column; /* Располагаем карточки вертикально */
      gap: 16px; /* Отступы между элементами внутри карточки */
      padding: 16px;
      background-color: #ffffff; /* Убедимся, что фон карточек хорошо читается */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для мобильных */
      border-radius: 8px; /* Скругленные углы */
      align-items: flex-start; /* Выравнивание содержимого по левому краю */
    }

    /* Всплывающий оффер */
    .offer {
      position: relative; /* Относительно .content */
      z-index: 2; /* Выше затемнения */
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавное всплытие */
    }
  
    .offer__logo {
      width: 80px;
      height: 80px;
      margin-bottom: 12px; /* Отступ снизу для мобильной версии */
    }
  
    .offer__details,
    .offer__personal-data,
    .offer__rate {
      width: 100%; /* Растягиваем элементы на всю ширину */
      text-align: left; /* Выравнивание текста по левому краю */
    }
  
    .offer__title-wrap {
      font-size: 18px; /* Увеличиваем размер шрифта для заголовка */
      margin-bottom: 8px; /* Добавляем отступ снизу */
    }
  
    .offer__text {
      font-size: 14px; /* Уменьшаем текст для компактного вида */
    }
  }

    .result__title-wrap h2 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .header-email {
        margin-top: 10px; /* Отступ сверху для почты */
    }

    .email-link {
        font-size: 14px; /* Уменьшаем текст на мобильных */
    }

    .email-icon {
        width: 16px; /* Уменьшаем иконку на мобильных */
        height: 16px;
    }


}

/* Для очень маленьких экранов */
@media (max-width: 480px) {
    .offer__personal-data {
        font-size: 12px; /* Уменьшаем шрифт на маленьких экранах */
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

  
  /* Форма */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Стиль для кнопки */
  button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

/* Анимация появления */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Анимация исчезновения */
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
/* Стили для мобильной версии */
@media (max-width: 768px) {
    .result__header {
      flex-direction: column; /* Элементы выстраиваются в столбик */
      align-items: flex-start; /* Выравниваем по левому краю */
      gap: 5px; /* Уменьшаем расстояние между элементами */
    }

    .result__count {
        font-size: 12px; /* Уменьшаем шрифт на маленьких экранах */
      }
    
  }