.container-problems {
    max-width: 1400px;
    width: 80%;
    margin: 80px auto 20px auto;
    overflow: visible;
}
@media (max-width: 768px) {
    .container-problems {
        width: 90%;
    }
}
.problems {
    margin: 20px auto 0 auto; 
}
.problems-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    align-items: stretch; 
}
@media (min-width: 768px) {
    .problems-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*@media (max-width: 768px) {
    .advantages {
        width: 90%; 
    }
}*/
.problems-card {
    background-color: #ffffff;
    padding: 40px 20px 40px 20px; 
    border-radius: 8px;
    border: 1px solid #e6e8ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;    
    text-align: left;
    gap: 10px;
}
.problems-card h2 {
    margin: 0;
}
.problems-card p {
    margin: 0;
}



.problems-text-info {
  display: flex;
  align-items: center;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 120px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .problems-text-info {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}