.container-problems {
  max-width: 1400px;
  width: 80%;
  margin: 80px auto 20px auto;
  overflow: visible;
}

@media (max-width: 768px) {
  .container-problems {
    width: 90%;
  }
}

.problems {
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.problems-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Одна строка с иконкой и карточкой */
.problems-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Стили иконки */
.problem-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* Стили карточки, сохранены как было */
.problems-card {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 8px;
  border: 1px solid #e6e8ed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 10px;
}

.problems-card p {
  margin: 0;
}

@media (max-width: 768px) {
  .problems-row {
    flex-direction: row;
    align-items: flex-start;
  }
}


.problems-image {
  grid-column: 2;
  display: flex;
  justify-content: center;   /* Картинка центруется по горизонтали в правой колонке */
  align-items: center;       /* Картинка центруется по вертикали в правой колонке */
}
@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
}

.problems-image-wrapper {
  width: 100%;
  max-width: 500px;
}